@inherits LayoutComponentBase

<PageTitle>Generic Games</PageTitle>

<SvgIcons />
<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@
    <main>
        <GenericGames.Shared.Notifications.Notifications />
        @Body
    </main>
</div>
