@page "/"
@using GenericGames.Helpers

<PageTitle>Generic Games</PageTitle>

<h1>Welcome to Generic Games</h1>

<p>Let's play a game!</p>

<p>To connect to this game server visit <a href="@ServerUrl">@ServerUrl</a></p>
