@inherits LayoutComponentBase

<PageTitle>MikeysGames</PageTitle>

<SvgIcons />
<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@
    <main>
        <MikeysGames.Shared.Notifications.Notifications />
        @Body
    </main>
</div>
